@{
    ViewBag.Title = "PlansSelectionForm";
}


<h2>Planų pasirinkimas:</h2>
<h2 id="date1" hidden>@ViewBag.Date1</h2>
<h2 id="date2" hidden>@ViewBag.Date2</h2>
<h2 id="direction" hidden>@ViewBag.Direction</h2>
<h2 id="price" hidden>@ViewBag.Price</h2>

<table>
    <tr>
        <td>Maisto Planas:</td>
        <td align="right">@Html.DropDownList("FoodPlans", (List<SelectListItem>)ViewBag.FoodPlans)</td>
    </tr>
    <tr>
        <td>Pramogų Planas:</td>
        <td align="right">@Html.DropDownList("EntertainmentPlans", (List<SelectListItem>)ViewBag.EntertainmentPlans)</td>
    </tr>
    <tr>
        <td>Sporto Planas:</td>
        <td align="right">@Html.DropDownList("SportPlans", (List<SelectListItem>)ViewBag.SportPlans)</td>
    </tr>
    <tr>
        <td></td><td></td>
    </tr>
    <tr>
        <td></td>
        <td><a href="#" class="btn btn-success registerFlightButton" id="submit" style="margin-left: 20px;">Pasirinkti planus</a></td>
    </tr>


</table>



@section scripts{
    <script>
        $('#submit').click(function (e) {
            e.preventDefault();
            window.location.href = "@Url.Action("submitSelectedPlans", "Plans")"
                + '?date1=' + $('#date1').text() + '&date2=' + $('#date2').text() + '&price=' + $('#price').text()
                + '&direction=' + $('#direction').text()
                + '&foodPlanID=' + $('#FoodPlans').find('option:selected').val()
                + '&foodPlan=' + $('#FoodPlans').find('option:selected').text()
                + '&entertainmentPlanId=' + $('#EntertainmentPlans').find('option:selected').val()
                + '&entertainmentPlan=' + $('#EntertainmentPlans').find('option:selected').text()
                + '&sportPlanId=' + $('#SportPlans').find('option:selected').val()
                + '&sportPlan=' + $('#SportPlans').find('option:selected').text();
        });
    </script>
}

