@model MELV_IS.Models.Flight

@{
    ViewBag.Title = "FlightList";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FlightList</title>
</head>
<body>
    <div>
        <h4>Flight</h4>s
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Direction)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Direction)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DepartureDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DepartureDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ArrivalDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ArrivalDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Confirmed)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Confirmed)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
