@model IEnumerable<MELV_IS.Models.Flight>
@{
    ViewBag.Title = "FlightList";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FlightList</title>
</head>
<p style="color:green"><b>@ViewBag.updated</b></p>
<p style="color:green"><b>@ViewBag.removed</b></p>
<table class="table table-striped datatable">
    <thead>
        <tr style="background-color: lightblue">
            <th>
                @Html.DisplayNameFor(model => model.Direction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Confirmed)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <body>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        if (item.Direction)
                        {
                            <text>Marsas - Žemė</text>
                        }
                        else
                        {
                            <text>Žemė - Marsas</text>
                        }
                    }
                </td>
                <td>@Html.DisplayFor(modelItem => item.DepartureDate)</td>
                <td>@Html.DisplayFor(modelItem => item.ArrivalDate)</td>
                <td>
                    @{
                        if (item.Confirmed)
                        {
                            <text>Patvirtintas</text>
                        }
                        else
                        {
                            <text>Užregistruotas</text>
                        }
                    }
                </td>
                <td>@Html.ActionLink("Peržiūrėti", "SelectedFlight", "Flight", new { id = item.ID }, new { @class = "btn btn-primary action" })</td>
            </tr>
        }

    </body>
</table>
@{ 
    ViewBag.updated = "";
    ViewBag.removed = "";
}

</html>
