@model IEnumerable<MELV_IS.Models.User>

@{
    ViewBag.Title = "Pagrindinis puslapis";
}

@{
    // ADMIN MAIN PAGE
    if ((bool)Session["admin"])
    {
        <div class="row">
            @Html.ActionLink("Maisto planai", "FoodPlanList", "Plans", null, new { @class = "btn btn-primary action" })
        </div>
        <br />
        <div class="row">
            @Html.ActionLink("Registruoti skrydį", "FlightCreationForm", "FlightRequest", null, new { @class = "btn btn-primary action" })
        </div>
    }
    // USER MAIN PAGE
    else
    {
        <div class="row">
            @Html.ActionLink("Maisto planai", "FoodPlanList", "Plans", null, new { @class = "btn btn-primary action" })
        </div>
    }
}


<div class="row toggleAdmin" style="margin-top: 200px;">
    @using (Html.BeginForm())
    {
        <select name="user" id="user">
            @{
                foreach (var item in Model)
                {
                    <option value="@item.ID">@item.Name  @item.LastName</option>
                }
            }
        </select>
        <input type="submit" value="Keisti vartotoją" class="btn btn-primary" />
        @Session["user"]
        <span> </span>
        @Session["admin"]
    }
</div>
