@model IEnumerable<MELV_IS.Models.User>

@{
    ViewBag.Title = "Pagrindinis puslapis";
}

    <body onload="enterFlightDate()">
        @{
            // ADMIN MAIN PAGE
            if ((bool)Session["admin"])
            {
                <div class="row">
                    @Html.ActionLink("Maisto planai", "FoodPlanList", "Plans", null, new { @class = "btn btn-primary action" })
                </div>
                <br />
                <div class="row">
                    @Html.ActionLink("Registruoti skrydį", "FlightCreationForm", "FlightRequest", null, new { @class = "btn btn-primary action" })
                </div>
                <div class="row">
                    @Html.ActionLink("Skrydžių sąrašas", "FlightList", "Flight", null, new { @class = "btn btn-primary action" })
                </div>
            }
            // USER MAIN PAGE
            else
            {
                <br />
                <br />
                <div style="display: flex; justify-content: space-between;">
                    <div style="border: 1px solid black; border-radius: 5px; padding: 5px; padding-bottom: 20px; margin-right: 5px; height: 500px; width: 60%">
                        <h4>Prašymo sukūrimas</h4>
                        <br />
                        <div style="padding-bottom: 5px; padding-top: 5px;">Pasirinkite išvykimo datą: </div>
                        <div>
                            <div>
                                <span>Kryptis: </span>
                                <select id="direction"  onchange="enterFlightDate()">
                                    <option value="0">Žemė - Marsas</option>
                                    <option value="1">Marsas - Žemė</option>
                                </select>
                                <span style="padding-left: 75px;">Išvykimo data: </span>
                                <input style="margin-bottom: 10px;" type="text" id="datepicker" autocomplete="off" onchange="enterFlightDate()">
                                <br />
                                <span style="padding-left:250px;" id="secondDate"></span>
                                <br />
                                <span style="padding-left:250px;" id="calcPrice"></span>
                            </div>
                            <br />
                            <br />
                            <div>
                                <a href="#" class="btn btn-success registerFlightButton" style="margin-left:250px;" id="submit">Sukurti naują kelionės prašymą</a>
                            </div>
                        </div>
                    </div>
                    
                <div style="height: 500px; width: 40%">
                    <div style="border: 1px solid black; border-radius: 5px; padding: 5px; padding-bottom: 20px; margin-bottom: 10px; height: 245px;">
                        <h4>Patvirtinta kelionė iš Žemės į Marsą</h4>
                        @{
                            if ((int)Session["flight_mars"] != -1)
                            {
                                <text>Informacija:</text>
                                <br />
                                <text>Kaina: </text> @Session["user_price" + Session["flight_mars"]]
                                <br />
                                <text>Išvykimo data: </text> @Session["flight_mars_ddate"]
                                Html.ActionLink("Peržiūrėti", "SelectedFlight", "Flight", new { id = Session["flight_mars"] }, new { @class = "btn btn-primary action", @style = "float: right;" });
                            }
                        }
                    </div>
                    <div style="border: 1px solid black; border-radius: 5px; padding: 5px; padding-bottom: 20px; height: 245px;">
                        <h4>Patvirtinta kelionė iš Marso į Žemę</h4>
                        @{
                            if ((int)Session["flight_earth"] != -1)
                            {
                                <text>Informacija:</text>
                                <br />
                                <text>Kaina: </text> @Session["user_price" + Session["flight_earth"]]
                                <br />
                                <text>Išvykimo data: </text> @Session["flight_earth_ddate"]
                                @Html.ActionLink("Peržiūrėti", "SelectedFlight", "Flight", new { id = Session["flight_earth"] }, new { @class = "btn btn-primary action", @style = "float: right;" });
                            }
                        }
                    </div>
                </div>
                </div>
                

                <br />
                <br />

            }
        }


        <div class="row toggleAdmin" style="margin-top: 200px;">
            @using (Html.BeginForm())
            {
                <select name="user" id="user">
                    @{
                        foreach (var item in Model)
                        {
                            <option value="@item.ID">@item.Name  @item.LastName</option>
                        }
                    }
                </select>
                <input type="submit" value="Keisti vartotoją" class="btn btn-primary" />
                @Session["user"]
                <span> </span>
                @Session["admin"]
            }
        </div>

    </body>

@section scripts{
    <script>
        $(function () {
            $("#datepicker").datepicker({ dateFormat: "yy-mm-dd", minDate: '+1m' });
        });

        $('#submit').click(function (e) {
            e.preventDefault();
            window.location.href = "@Url.Action("submitFlightRequestDates", "FlightRequest")" + '?date1=' + $('#datepicker').val() + '&date2=' + $('#secondDate').text().slice(15,25) + '&direction=' + $('#direction').find('option:selected').val()  + '&price=' + $('#calcPrice').text().slice(7);
        });

        function enterFlightDate() {
            //tikrinti ar ne tuscia, ar ne nesamone, ar sitam menesi sitais metais
            if ($('#datepicker').val() == "") {
                $("#secondDate").text("");
                $('#calcPrice').text("");
                $('.registerFlightButton').hide();
                return;
            }

            if (Date.parse($('#datepicker').val() == NaN)) {
                $("#secondDate").text("");
                $('#calcPrice').text("");
                $('.registerFlightButton').hide();
                return;
            }

            jQuery.ajax({
                url: 'FlightRequest/calculateSecondDate',
                type: 'POST',
                contentType: 'application/json',
                data: '{firstDate: "' + new Date(Date.parse($('#datepicker').val())).toISOString().slice(0, 10) + '", direction: "' + $('#direction').find('option:selected').val() + '" }',
                success: function (result) {
                    $('#datepicker').val(new Date(Date.parse($('#datepicker').val())).toISOString().slice(0, 10));
                    var res;
                    if ($('#direction').find('option:selected').val() == 0) {
                        res = result.DateMars;
                    } else {
                        res = result.DateEarth;
                    }
                    console.log(result);
                    $("#secondDate").text("Atvykimo data: " + convertToJavaScriptDate(res));
                    $('#calcPrice').text("Kaina: " + result.Price / 10);
                    $('.registerFlightButton').show();
                },
                failure: function (error) {
                    console.log(error);
                }
            });
        }

        function convertToJavaScriptDate(value) {
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(value);
            return getFormattedDate(parseFloat(results[1]));
        }

        function getFormattedDate(date) {
            var formatDate = new Date(date);
            var month = formatDate.getMonth() + 1;
            var day = formatDate.getDate();
            var year = formatDate.getFullYear();
            if (month < 10) {
                month = '0' + month;
            }
            if (day < 10) {
                day = '0' + day;
            }
            return year + "-" + month + "-" + day;
        }
    </script>
}